*.build
*.changes
*.deb
*.dsc
*.in
*.la
*.lineno
*.lo
*.o
*.orig
*.rpm
*.so
*.tar.gz
*.tgz
*.xz
*~
.deps/
.libs/
.vagrant/
/Makefile
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
docker/*.sql
docker/dell*
install-sh
libtool
libzbxpgsql-*/
ltmain.sh
m4/
missing
src/**/Makefile
stamp-h1
zabbix-*/
zabbix_agent_bench
.idea/
