*.deb
*.in
*.la
*.lo
*.o
*.so
*.tar.gz
*.tgz
*~
.deps/
.libs/
.vagrant/
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
m4/
Makefile
missing
stamp-h1
zabbix-*/
