<h3>Table of contents</h3>
<ul>
{% for key in include.keys %}
	<li><a href="#{{ key.key | slugify }}">{{ key.key }}</a></li>
{% endfor %}
</ul>


{% for key in include.keys %}
<h3 id="{{ key.key | slugify }}">{{ key.key }}{% if key.require %}&nbsp;<span class="version-badge" title="Requires PostgreSQL server v{{ key.require }} or above">v{{ key.require }}+{% endif %}</span></h3>
{% if key.description %}<p>{{ key.description | markdownify }}</p>{% endif %}

<!-- Key type -->
{% if key.type %}
<p>
	<em>Type:</em>&nbsp;<code>{{ key.type }}</code>
</p>
{% endif %}

<!-- Key units -->
{% if key.units %}
<p>
	<em>Units:</em>&nbsp;{{ key.units }}
</p>
{% endif %}

<!-- Key parameters -->
<p>
	<em>Parameters:</em>
</p>
<ol class="params">
	<li>
		<code>connection string</code>&nbsp;-&nbsp;libpq compatible keyword/value connection string
	</li>
	<li>
		<code>connection database</code>&nbsp;-&nbsp;connection database (default: username from connection string)
	</li>
	{% for param in key.parameters %}
	<li>
		<code>{{ param.parameter }}</code>&nbsp;-&nbsp;{{ param.description  }}{% if param.default %}&nbsp;(default: {{param.default }}){% endif %}
		{% if param.options %}
		<ul>
			{% for option in param.options %}
			<li>
				<code>{{ option.option }}</code>&nbsp;-&nbsp;{{ option.description }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ol>

<!-- Discovery key macros -->
{% if key.macros %}
<p><em>Macros:</em></p>
<ul class="params">
	{% for macro in key.macros %}
	<li>
		<code>{{ macro.macro }}</code>&nbsp;-&nbsp;{{ macro.description  }}
	</li>
	{% endfor %}
</ul>
{% endif %}

<!-- Key example usage -->
{% if key.example %}
<p>
	<em>Example:</em><p>{{ key.example | markdownify }}</p>
</p>
{% endif %}

<!-- Key source -->
{% if key.source %}
<p><em>Source:</em></p>
	{% highlight sql %}
	{{ key.source }}
	{% endhighlight %}
{% endif %}
{% endfor %}